* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #050505;
  display: flex;
  place items: center;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-areas:
    'a a a b'
    'c c d d'
    'c c e e';
  gap: 10px;
  width: 50%;
  margin: auto;
}

main div {
  padding: 2em;
  text-align: center;
}

.shell1 {
  background-color: #91212c;
  grid-area: a;
}

.shell2 {
  background-color: orange;
  grid-area: b;
}

.shell3 {
  background-color: #156006;
  grid-area: c;
}

.shell4 {
  background-color: #659de6;
  grid-area: d;
}

.shell5 {
  background-color: #659de6;
  grid-area: e;
}